@using EPiServer.Web.Routing
@using Nackademin_Episerver.Business.Components.Slideshow

@model SlideshowViewComponentModel

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
         @for (int i = 0; i < Model.Pages.Count; i++)
        {
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-label="Slide @(i + 1)" @(i == 0 ? "aria-current=\"true\"" : "")></button>
        }
    </div>
    <div class="carousel-inner">
        @foreach (var item in Model.Pages.Select((page, index) => new { page, index }))
        {
            <div class="carousel-item @(item.index == 0 ? "active" : "")">
                <img src="@UrlResolver.Current.GetUrl(item.page.Image)" class="carousel-poster" />
                <div class="container">
                    <div class="carousel-caption @(item.index == 0 ? "text-start" : item.index == Model.Pages.Count - 1 ? "text-end" : "")">
                        <h1>@Html.Raw(item.page.Heading)</h1>
                        <p>@Html.Raw(item.page.MainBody)</p>
                        <p><a class="btn btn-lg btn-primary" href="@item.page.LinkUrl">Learn more</a></p>
                    </div>
                </div>
            </div>
        } 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>